RewriteEngine on
RewriteBase /tinker/site/
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !/tinker/site/error.php
RewriteRule ^(.*)$ /tinker/site/index.php?q=$1 [L,QSA]
